* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}



.Container {
    width: 1320px;
    margin-bottom: 100px;

}

.Start-Manu {
    background: #161616;
    display: flex;
    width: 100%;
    border-radius: 25px;
}

.Start-Manu:hover {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DD0000;

}

.Start-Manu:hover .Info h1 {
    color: #161616;
}

.Start-Manu:hover .Info p {
    color: #161616;
}


header {
    justify-content: center;
    display: flex;
}

.Info {
    width: 50%;
    padding: 65px;
}

.Img {
    width: 50%;
}

.Img img {
    width: 70%;
}

.Info h1 {
    color: white;
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
}

.Info p {
    color: white;
    padding-right: 25px;
    text-align: justify;
    padding-top: 25px;
}

.Watch-button {
    margin-top: 35px;
    padding: 17px 25px;
    text-align: center;
    background: #DD0000;
    color: white;
    border-radius: 5px;
    font-size: 19px;
}

.Watch-button:hover {
    background: white;
    color: #DD0000;
}

.All-Blogs {
    display: flex;
    gap: 15px;
}

section {
    justify-content: center;
    display: flex;
}

.channes-Manu {
    width: 320px;
    height: 320px;
    background-color: #161616;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
}

.channes-Manu h2 {
    background: white;
    border-radius: 7px;
    margin: 15px 10px;
    text-align: center;
    justify-content: center;
    padding: 20px 10px;

}

h2 a {
    text-decoration: none;
    color: black;

}

.channes-Manu h2.blog a {
    color: white;

}

.channes-Manu h2.blog {
    background-color: #DD0000;
    color: white;

}

.All-GolsImg {
    width: 960px;
}

.Images {
    width: 310px;
    border: 1px solid #ddd;
    border-radius: 7px;
}

.Images img {
    width: 100%;
    border-radius: 7px;
}

.Imges-Info {
    width: 90%;
    padding-left: 17px;
    padding-top: 15px;

}

.Imges-Info button {
    font-size: 17px;
    font-weight: 500;
    background: transparent;
    padding: 7px 17px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.Imges-Info p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.All-GolsImg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.icon {
    display: flex;
    width: 100px;
}

.icon p {
    display: flex;
    gap: 10px;

}

.icon-2 {
    margin-left: 35px;
}

.Tablet-Buttom {
    text-align: center;
    padding-top: 55px;
    display: none;

}

.Tablet-Buttom button {
    padding: 11px 25px;
    font-size: 20px;
    background-color: #DD0000;
    border: none;
    border-radius: 5px;
    color: white;

}

footer {
    width: 100%;

    background-color: #161616;
}

.Foooter-Container {
    width: 1100px;
    margin: auto;
    padding-bottom: 50px;

}

.Foooter-Container h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 50px;
}

hr {
    color: #B9B9B9;

}

.Company-Detiles {
    padding-top: 35px;
    text-align: center;

}

.Company-Detiles a {
    text-decoration: none;
    color: #B9B9B9;
    padding: 15px;


}

/* @media screen and (max-width: 576px) {
    .All-GolsImg {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .Start-Manu {
        background-color: aqua;
    }
} */

/* Small Decice */
@media screen and (max-width: 576px) {
    .Start-Manu {
        flex-direction: column;
        width: 550px;


    }

    .Info {
        width: 70%;
    }


    .Info h1 {
        font-size: 35px;
        line-height: 45px;
        margin: auto;
    }

    .Info p {
        font-size: 16px;
        line-height: 19px;
    }


    .Img {
        width: 100%;
        justify-items: center;
        justify-content: center;
        text-align: center;

    }

    .Container {
        justify-content: center;
        justify-items: center;
        width: 100%;
    }

    .All-Blogs {
        justify-content: center;
        justify-items: center;
        width: 100%;

    }

    .All-Blogs {
        flex-direction: column;
        width: 100%;
    }

    .All-GolsImg {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .Foooter-Container a {
        display: block;
        margin: 0;
        padding: 15px;
    }

    .Foooter-Container h2 {
        display: block;
        margin: 0;
        padding: 30px;
    }

    .Foooter-Container hr {
        display: block;
    }

    .Foooter-Container {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .Container {
        width: 100%;
    }

    footer {
        display: block;

    }
}



/* secound line */
@media screen and (min-width: 577px) and (max-width: 768px) {

    .Img img {
        width: 100%;
        height: 100%;
    }

    .Info {
        width: 100%;
        height: 50%;
    }

    .Info h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .Info p {
        font-size: 16px;
        line-height: 19px;
    }



    .All-Blogs {

        display: block;
    }

    .channes-Manu {
        display: flex;
        justify-content: space-between;
        text-align: center;
        justify-items: center;
        width: 100%;
        height: 100px;
        margin-bottom: 25px;
        background-color: white;
        margin: 20px auto;

    }

    .channes-Manu h2 {
        width: 350px;
        border: 1px solid black;
        margin: 10px 7px;
        justify-content: space-between;
        font-size: 22px;
        text-align: center;
    }

    .Tablet {
        display: none;
    }

    .All-Blogs {
        flex-direction: column;
        width: 100%;
    }

    .All-GolsImg {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 20px;
    }

    .Tablet-Buttom {
        display: block;
    }

    .Foooter-Container a {
        display: inline-block;
    }

    .Foooter-Container h2 {
        display: block;
    }

    .Foooter-Container hr {
        display: block;
    }

    .Foooter-Container {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .Container {
        width: 100%;
    }

    .Company-Detiles a {
        font-size: 19px;
    }
}